################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataContext.Web/bin
/DataContext.Web/obj
/DataContext.Web/.vs
